#home_page{
    background: #000;
    position: relative;
    width: 100%;
    height:1000px;
}
#home_page::after{
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background:#7c66e3;
    left: 100px;
    top: 50px;
    filter: blur(330px);
}
#home_page::before{
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background:#7c66e3;
    bottom:-200px;
    right: 100px;
    filter: blur(330px);
}
.home_page_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;
}